
h1{
	font-size: 65px;
	font-style: bold;
	color: yellow;
	background-color: palegreen;
	font-family: baskerville;
}

h2 {
	font-size: 55px;
	font-family: futura;
	background-color: palegreen;
	color: orange;
}

h3{
	font-size: 45px;
	color: purple;
	background-color: red;
}

p {
	font-size: 25px;
	font-family: helvetica;
	line-height: 26px;
	color: palegreen;
}

ul{
	
	font-size: 18px;
	color: blue;
	line-height: 20px;
	letter-spacing: 5px;
}

ol{
	font-size: 18px;
	color: blue;
	line-height: 20px;
	letter-spacing: 5px;
}

figure{
	font-size: 20px;
	color: red;
	background-color: pink;
}

